workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -272,
        -112
      ],
      "id": "65396687-0c68-4dfb-8f98-7a7178802368",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9f5d37e3-a5e3-4fdc-a915-0eac2df2172c",
              "name": "candidates[0].content.parts[0].text",
              "value": "={{ $json.candidates[0].content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1296,
        -112
      ],
      "id": "456a382b-3455-4df8-9598-d743a7a49718",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "http://export.arxiv.org/api/query?search_query=all:artificial+intelligence&start=0&max_results=1&sortBy=submittedDate&sortOrder=descending",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -48,
        -112
      ],
      "id": "649167ce-d6eb-4d97-8269-33c0a75b389f",
      "name": "Research API"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        176,
        -112
      ],
      "id": "e2f822d8-46e5-4198-b55d-87621133f711",
      "name": "XML to JSON"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=YOUR_API_KEY",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"{{ $('prompt').item.json.prompt }}\\n\"\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"temperature\": 0.3\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1072,
        -112
      ],
      "id": "796f850c-7deb-4d29-a083-4b07cac9c5ad",
      "name": "GEMINI Summarizer"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "195NWEAHOQgFWZxVne5chEWOvmkcJ5wEY4YonCBfzWUc",
          "mode": "list",
          "cachedResultName": "AI Research Digest",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/195NWEAHOQgFWZxVne5chEWOvmkcJ5wEY4YonCBfzWUc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/195NWEAHOQgFWZxVne5chEWOvmkcJ5wEY4YonCBfzWUc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date ": "=\n{{ $now }}",
            "Summary": "={{ $json.candidates[0].content.parts[0].text }}",
            "Title ": "={{ $json.feed.entry[0].title }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date ",
              "displayName": "Date ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title ",
              "displayName": "Title ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1744,
        -16
      ],
      "id": "0c196bb8-e2c4-49dc-9fdd-6fa1f655ff27",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bnViMcutPpADZqP1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b261cee8-b2f4-42d5-926b-8ceebe995464",
              "name": "feed.entry[0].title",
              "value": "={{ $json.title }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1296,
        80
      ],
      "id": "d3947b09-3acc-4b1f-9ee6-0ed393b4a8e9",
      "name": "extract tittle"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1520,
        -16
      ],
      "id": "7c658291-1e00-4e26-8840-1eeed9f47dce",
      "name": "Merge1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "195NWEAHOQgFWZxVne5chEWOvmkcJ5wEY4YonCBfzWUc",
          "mode": "list",
          "cachedResultName": "AI Research Digest",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/195NWEAHOQgFWZxVne5chEWOvmkcJ5wEY4YonCBfzWUc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/195NWEAHOQgFWZxVne5chEWOvmkcJ5wEY4YonCBfzWUc/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Title",
              "lookupValue": "={{ $json.title }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        -208
      ],
      "id": "4527e15a-caef-4002-aedd-a34f44823ade",
      "name": "Get row(s) in sheet",
      "retryOnFail": false,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bnViMcutPpADZqP1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e18fd74e-4c92-44c2-a8d4-67e57557070d",
              "leftValue": "=$items().length }}",
              "rightValue": 0,
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        848,
        -208
      ],
      "id": "169d8240-374e-4f2c-a8f2-f5f4e09fda96",
      "name": "If"
    },
    {
      "parameters": {
        "errorMessage": "Already exist"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1072,
        -304
      ],
      "id": "4142d9b9-3cfe-4f7b-be5d-8084171cfb1c",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5612829b-0aac-4e2f-b384-79ed14a561d3",
              "name": "=prompt",
              "value": "=Abstract: {{ $json.feed.entry.summary }} Summarize this research paper in 3 bullet points.",
              "type": "string"
            },
            {
              "id": "1da34abb-f13b-4066-a66f-0713907b6085",
              "name": "=title",
              "value": "={{ $json.feed.entry.title }}",
              "type": "string"
            },
            {
              "id": "63a2d2c7-7cc1-40c8-b328-6a27d0bc3e51",
              "name": "summary",
              "value": "={{ $json.feed.entry.summary }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        -112
      ],
      "id": "a101ea6b-8151-4fb3-9111-2396096d6ecf",
      "name": "prompt"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Research API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research API": {
      "main": [
        [
          {
            "node": "XML to JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML to JSON": {
      "main": [
        [
          {
            "node": "prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GEMINI Summarizer": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract tittle": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        []
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GEMINI Summarizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prompt": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "extract tittle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "12d68c47-e438-4523-ab43-8d23298f9020",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d60fdbffb9388fa41ac6bb599aba0452da0bcb47f6ee429a4ee97caf96d80f0e"
  },
  "id": "yEVZAtJSI6yTaQMg",
  "tags": []
}